In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Datasets/cars.csv")
df.sample(4)

       brand  km_driven    fuel                 owner  selling_price
333   Maruti     100000  Petrol  Fourth & Above Owner          60000
5179  Toyota     112000  Diesel          Second Owner         900000
3583  Toyota     250000  Diesel          Second Owner         550000
6639  Maruti      26320  Petrol           First Owner          80000

# Brand

1. Categorical Column
2. No Null Values
3. The brands who sold less than 50 cars has been names as others

In [3]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [4]:
df['brand'].head(5)

0     Maruti
1      Skoda
2      Honda
3    Hyundai
4     Maruti
Name: brand, dtype: object

In [5]:
df['brand'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8128 entries, 0 to 8127
Series name: brand
Non-Null Count  Dtype
--------------  -----
8128 non-null   object
dtypes: object(1)
memory usage: 63.6+ KB

In [6]:
df['brand'].isna().sum()

0

In [7]:
brand_cnt = df['brand'].value_counts().to_dict()
brand_cnt_lst = [i for i in brand_cnt if brand_cnt[i] <= 50]
brand_cnt_lst

['Fiat',
 'Audi',
 'Lexus',
 'Jeep',
 'Mitsubishi',
 'Force',
 'Land',
 'Isuzu',
 'Kia',
 'Ambassador',
 'Daewoo',
 'MG',
 'Ashok',
 'Opel',
 'Peugeot']

In [8]:
df['brand'].replace(brand_cnt_lst, 'others', inplace=True)
brand_cnt = df['brand'].value_counts()

In [9]:
brand_cnt.to_dict().keys()

dict_keys(['Maruti', 'Hyundai', 'Mahindra', 'Tata', 'Toyota', 'Honda', 'Ford', 'Chevrolet', 'Renault', 'others', 'Volkswagen', 'BMW', 'Skoda', 'Nissan', 'Jaguar', 'Volvo', 'Datsun', 'Mercedes-Benz'])

In [10]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [14]:
ohe = OneHotEncoder(sparse_output=False)

In [15]:
arr = ohe.fit_transform(df[['brand']])

In [16]:
arr2 = ohe.categories_[0]
arr2

array(['BMW', 'Chevrolet', 'Datsun', 'Ford', 'Honda', 'Hyundai', 'Jaguar',
       'Mahindra', 'Maruti', 'Mercedes-Benz', 'Nissan', 'Renault',
       'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo', 'others'],
      dtype=object)

In [17]:
df2 = pd.DataFrame(arr, columns=['BMW', 'Chevrolet', 'Datsun', 'Ford', 'Honda', 'Hyundai', 'Jaguar','Mahindra', 'Maruti', 'Mercedes-Benz', 'Nissan', 'Renault','Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo', 'others'])

df2.shape

(8128, 18)

In [18]:
['BMW', 'Chevrolet', 'Datsun', 'Ford', 'Honda', 'Hyundai', 'Jaguar',
        'Mahindra', 'Maruti', 'Mercedes-Benz', 'Nissan', 'Renault',
        'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo', 'others']

['BMW',
 'Chevrolet',
 'Datsun',
 'Ford',
 'Honda',
 'Hyundai',
 'Jaguar',
 'Mahindra',
 'Maruti',
 'Mercedes-Benz',
 'Nissan',
 'Renault',
 'Skoda',
 'Tata',
 'Toyota',
 'Volkswagen',
 'Volvo',
 'others']

# Km Driven

1. Numeric column
2. Values are of integar of type
3. No null values

In [19]:
df['km_driven'].isna().sum()

0

In [20]:
df['km_driven'].dtype

dtype('int64')

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
scale_obj = StandardScaler()

In [23]:
scale_obj.fit_transform(df[['km_driven']])

array([[ 1.33836255],
       [ 0.88741086],
       [ 1.24109846],
       ...,
       [ 0.88741086],
       [-0.79260528],
       [-0.79260528]])

# Fuel

1. Fuel is categorical column
2. categories are Diesel, Petrol, CNG, LPG which are Ordinal
3. No null values.

In [24]:
df['fuel'].value_counts().to_dict()

{'Diesel': 4402, 'Petrol': 3631, 'CNG': 57, 'LPG': 38}

In [25]:
df['fuel'].isna().sum()

0

In [26]:
from sklearn.preprocessing import OrdinalEncoder

In [27]:
ord_encdr1 = OrdinalEncoder()

In [28]:
ord_encdr1.fit_transform(df[['fuel']])

array([[1.],
       [1.],
       [3.],
       ...,
       [1.],
       [1.],
       [1.]])

In [29]:
ord_encdr1.categories_

[array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object)]

# Owner

1. This is categorical in which orders are nominal.
2. Categories are [First Owner, Second Owner, Third Owner, Fourth & Above Owner, Test Drive Car]

In [30]:
df['owner'].value_counts().to_dict()

{'First Owner': 5289,
 'Second Owner': 2105,
 'Third Owner': 555,
 'Fourth & Above Owner': 174,
 'Test Drive Car': 5}

In [31]:
df['owner'].isna().sum()

0

In [32]:
ord_encdr2 = OrdinalEncoder()

In [33]:
ord_encdr2.fit_transform(df[['owner']])

array([[0.],
       [2.],
       [4.],
       ...,
       [0.],
       [0.],
       [0.]])

# Column Transformer

In [34]:
from sklearn.compose import ColumnTransformer

In [37]:
clm_trf = ColumnTransformer([("ordi_encdr", OrdinalEncoder(), [2, 3]),
                  ("ohe_encdr", OneHotEncoder(drop='first', sparse_output=False), [0]),
                  ('std_scaling', StandardScaler(), [1])],
                 remainder='passthrough')

In [39]:
x = clm_trf.fit_transform(df)

In [40]:
x.shape

(8128, 21)

In [41]:
x[0]

array([1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.33836255e+00,
       4.50000000e+05])

In [43]:
y = clm_trf.transform([['Skoda', 145500, 'Diesel', 'Second Owner', 468717]])

C:\Users\ardal\anaconda3\envs\trailenv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(
C:\Users\ardal\anaconda3\envs\trailenv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
C:\Users\ardal\anaconda3\envs\trailenv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [44]:
y

array([[1.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.3383625536597623, 468717]],
      dtype=object)

In [45]:
df.head(2)

    brand  km_driven    fuel         owner  selling_price
0  Maruti     145500  Diesel   First Owner         450000
1   Skoda     120000  Diesel  Second Owner         370000

In [46]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression

In [47]:
lr_model = LinearRegression()

In [48]:
pipe = Pipeline([('tr1', clm_trf),
                ('lr_model', lr_model)])

In [49]:
x = df.drop(['selling_price'], axis=1).values
y = df['selling_price']

In [50]:
x

array([['Maruti', 145500, 'Diesel', 'First Owner'],
       ['Skoda', 120000, 'Diesel', 'Second Owner'],
       ['Honda', 140000, 'Petrol', 'Third Owner'],
       ...,
       ['Maruti', 120000, 'Diesel', 'First Owner'],
       ['Tata', 25000, 'Diesel', 'First Owner'],
       ['Tata', 25000, 'Diesel', 'First Owner']], dtype=object)

In [51]:
pipe.fit(x, y)

Pipeline(steps=[('tr1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ordi_encdr',
                                                  OrdinalEncoder(), [2, 3]),
                                                 ('ohe_encdr',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  [0]),
                                                 ('std_scaling',
                                                  StandardScaler(), [1])])),
                ('lr_model', LinearRegression())])

In [52]:
pipe.predict([['Skoda', 145500, 'Diesel', 'Second Owner']])

array([430535.27564034])

In [53]:
import pickle

pickle.dump(pipe, open("car_price_model.pkl", "wb"))

In [54]:
obj = open("car_price_model.pkl", "rb")

In [55]:
model = pickle.load(obj)

In [56]:
model.predict([['Skoda', 145500, 'Diesel', 'Second Owner']])

array([430535.27564034])

In [58]:
obj.close()