In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Datasets/cars.csv")
df.sample(4)

              brand  km_driven    fuel         owner  selling_price
7845         Toyota      80000  Diesel  Second Owner         626000
6705          Honda       7032  Petrol   First Owner         779000
3144           Tata      70000  Petrol  Second Owner         120000
5256  Mercedes-Benz      17000  Petrol   First Owner        5200000

# Brand

1. Categorical Column
2. No Null Values
3. The brands who sold less than 50 cars has been names as others

In [3]:
df['brand'].value_counts()

Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: brand, dtype: int64

In [4]:
df['brand'].head(5)

0     Maruti
1      Skoda
2      Honda
3    Hyundai
4     Maruti
Name: brand, dtype: object

In [5]:
df['brand'].info()

AttributeError: 'Series' object has no attribute 'info'

In [6]:
df['brand'].isna().sum()

0

In [7]:
brand_cnt = df['brand'].value_counts().to_dict()
brand_cnt_lst = [i for i in brand_cnt if brand_cnt[i] <= 50]
brand_cnt_lst

['Fiat',
 'Audi',
 'Lexus',
 'Jeep',
 'Mitsubishi',
 'Force',
 'Land',
 'Isuzu',
 'Kia',
 'Ambassador',
 'Daewoo',
 'MG',
 'Ashok',
 'Opel',
 'Peugeot']

In [8]:
df['brand'].replace(brand_cnt_lst, 'others', inplace=True)
brand_cnt = df['brand'].value_counts()

In [9]:
brand_cnt.to_dict().keys()

dict_keys(['Maruti', 'Hyundai', 'Mahindra', 'Tata', 'Toyota', 'Honda', 'Ford', 'Chevrolet', 'Renault', 'others', 'Volkswagen', 'BMW', 'Skoda', 'Nissan', 'Jaguar', 'Volvo', 'Datsun', 'Mercedes-Benz'])

In [10]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [11]:
ohe = OneHotEncoder(sparse=False)

In [12]:
arr = ohe.fit_transform(df[['brand']])

In [13]:
arr2 = ohe.categories_[0]
arr2

array(['BMW', 'Chevrolet', 'Datsun', 'Ford', 'Honda', 'Hyundai', 'Jaguar',
       'Mahindra', 'Maruti', 'Mercedes-Benz', 'Nissan', 'Renault',
       'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo', 'others'],
      dtype=object)

In [14]:
df2 = pd.DataFrame(arr, columns=['BMW', 'Chevrolet', 'Datsun', 'Ford', 'Honda', 'Hyundai', 'Jaguar','Mahindra', 'Maruti', 'Mercedes-Benz', 'Nissan', 'Renault','Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo', 'others'])

df2.shape

(8128, 18)

In [15]:
['BMW', 'Chevrolet', 'Datsun', 'Ford', 'Honda', 'Hyundai', 'Jaguar',
        'Mahindra', 'Maruti', 'Mercedes-Benz', 'Nissan', 'Renault',
        'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo', 'others']

['BMW',
 'Chevrolet',
 'Datsun',
 'Ford',
 'Honda',
 'Hyundai',
 'Jaguar',
 'Mahindra',
 'Maruti',
 'Mercedes-Benz',
 'Nissan',
 'Renault',
 'Skoda',
 'Tata',
 'Toyota',
 'Volkswagen',
 'Volvo',
 'others']

# Km Driven

1. Numeric column
2. Values are of integar of type
3. No null values

In [16]:
df['km_driven'].isna().sum()

0

In [17]:
df['km_driven'].dtype

dtype('int64')

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scale_obj = StandardScaler()

In [20]:
scale_obj.fit_transform(df[['km_driven']])

array([[ 1.33836255],
       [ 0.88741086],
       [ 1.24109846],
       ...,
       [ 0.88741086],
       [-0.79260528],
       [-0.79260528]])

# Fuel

1. Fuel is categorical column
2. categories are Diesel, Petrol, CNG, LPG which are Ordinal
3. No null values.

In [23]:
df['fuel'].value_counts().to_dict()

{'Diesel': 4402, 'Petrol': 3631, 'CNG': 57, 'LPG': 38}

In [24]:
df['fuel'].isna().sum()

0

In [25]:
from sklearn.preprocessing import OrdinalEncoder

In [26]:
ord_encdr1 = OrdinalEncoder()

In [27]:
ord_encdr1.fit_transform(df[['fuel']])

array([[1.],
       [1.],
       [3.],
       ...,
       [1.],
       [1.],
       [1.]])

In [28]:
ord_encdr1.categories_

[array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object)]

# Owner

1. This is categorical in which orders are nominal.
2. Categories are [First Owner, Second Owner, Third Owner, Fourth & Above Owner, Test Drive Car]

In [29]:
df['owner'].value_counts().to_dict()

{'First Owner': 5289,
 'Second Owner': 2105,
 'Third Owner': 555,
 'Fourth & Above Owner': 174,
 'Test Drive Car': 5}

In [30]:
df['owner'].isna().sum()

0

In [31]:
ord_encdr2 = OrdinalEncoder()

In [32]:
ord_encdr2.fit_transform(df[['owner']])

array([[0.],
       [2.],
       [4.],
       ...,
       [0.],
       [0.],
       [0.]])

# Column Transformer

In [33]:
from sklearn.compose import ColumnTransformer

In [34]:
clm_trf = ColumnTransformer([("ordi_encdr", OrdinalEncoder(), [2, 3]),
                  ("ohe_encdr", OneHotEncoder(drop='first', sparse=False), [0]),
                  ('std_scaling', StandardScaler(), [1])],
                 remainder='passthrough')

In [35]:
x = clm_trf.fit_transform(df)

In [36]:
x.shape

(8128, 21)

In [37]:
x[0]

array([1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.33836255e+00,
       4.50000000e+05])

In [53]:
y = clm_trf.transform([['Skoda', 145500, 'Diesel', 'Second Owner']])

In [54]:
y

array([[1.        , 2.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.33836255]])

In [40]:
df.head(2)

    brand  km_driven    fuel         owner  selling_price
0  Maruti     145500  Diesel   First Owner         450000
1   Skoda     120000  Diesel  Second Owner         370000

In [41]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression

In [42]:
lr_model = LinearRegression()

In [43]:
pipe = Pipeline([('tr1', clm_trf),
                ('lr_model', lr_model)])

In [44]:
x = df.drop(['selling_price'], axis=1).values
y = df['selling_price']

In [45]:
x

array([['Maruti', 145500, 'Diesel', 'First Owner'],
       ['Skoda', 120000, 'Diesel', 'Second Owner'],
       ['Honda', 140000, 'Petrol', 'Third Owner'],
       ...,
       ['Maruti', 120000, 'Diesel', 'First Owner'],
       ['Tata', 25000, 'Diesel', 'First Owner'],
       ['Tata', 25000, 'Diesel', 'First Owner']], dtype=object)

In [46]:
pipe.fit(x, y)

Pipeline(steps=[('tr1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ordi_encdr',
                                                  OrdinalEncoder(), [2, 3]),
                                                 ('ohe_encdr',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  [0]),
                                                 ('std_scaling',
                                                  StandardScaler(), [1])])),
                ('lr_model', LinearRegression())])

In [47]:
pipe.predict([['Skoda', 145500, 'Diesel', 'Second Owner']])

array([430535.27564036])

In [48]:
import pickle

pickle.dump(pipe, open("car_price_model.pkl", "wb"))

In [49]:
obj = open("car_price_model.pkl", "rb")

In [50]:
model = pickle.load(obj)

In [51]:
model.predict([['Skoda', 145500, 'Diesel', 'Second Owner']])

array([430535.27564036])